.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: black;
}

.NavBar {
  flex-direction: row;
}

.searchBar {
  height: 12px;
  margin-top: 55px;
  margin-left: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  height: 100px;
  width: 200px;
}

.search {
  padding-top: 20px;
}
